html {
    background-color: gray;
}

#title-wrap {
    height: 70px;
    width: 700px;
    border: 1px #ffffff;
    position: absolute;
    top: 87.5px;
    left: 450px;
}

.dbk {
    display: block;
    position: inherit;
    text-align: center;
    color: #00008b;
    font-size: 40px;
    transform: translate(0, -80%) 
}


#title{
    position: inherit;
    background: white;
    height: 100px;
    font-family: Georgia, serif;
}

#dpl{
    box-sizing: content-box;
    float: none;
    display: inline-block;
    position: sticky;
    background: #ffffff;
    text-align: center;
    padding: 10px;
    height: 240px;
    border-radius: 10px 10px 10px 10px;
}

.title{
    transform: translate(0, -70%)
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid darkgray;
    background-color: darkgray;
    height: fit-content;
    width: auto;
    position: block;
    padding: 5px;
}

.automa{
    height: 250px;
    width: 400px;
    border-radius: 10px 10px 10px 10px ;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;
}

.automation{
    height: 250px;
    width: 400px;
    border-radius: 10px 10px 10px 10px ;
    border: 5px solid lightgray;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;
}

#ece {
    height: 250px;
    width: 400px;
    border-radius: 10px 10px 10px 10px ;
    border: 5px solid lightgray;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;   
}

#telec{
    height: 250px;
    width: 400px;
    border-radius: 10px 10px 10px 10px ;
    border: 2px solid lightgray;
    background-color: lightgray;
    display: inline-block;
    padding: 5px;   
}

#course{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    height: fit-content;
    width: auto;
}

p.pgf{
    color: white;
    background-color: rgba(34, 34, 34, 0.932);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    position: relative;
    top: -18px;
}

#recep{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
    height: fit-content;
    width: auto;
}


.wlc{
    line-height: auto;
}
/**/
.btn{
    background-color: blue;
    border: 1px solid blue;
    border-radius: 0px 0px 10px 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: -1.5px;
    width: 50%;
    font-weight: bolder;
}
/*
.dinosaur{
    background-color: black;
}*/
